[submodule "SSR_SolarSystemRepublicCore"]
	path = SSR_SolarSystemRepublicCore
	url = https://github.com/Celestial-Pole/SSR_SolarSystemRepublicCore.git
[submodule "SSR_SolarSystemRepublicFactionPart"]
	path = SSR_SolarSystemRepublicFactionPart
	url = https://github.com/Celestial-Pole/SSR_SolarSystemRepublicFactionPart.git
[submodule "SSR_SolarSystemRepublicCombatPart"]
	path = SSR_SolarSystemRepublicCombatPart
	url = https://github.com/Celestial-Pole/SSR_SolarSystemRepublicCombatPart.git
[submodule "SSR_BeautifulBody"]
	path = SSR_BeautifulBody
	url = https://github.com/Celestial-Pole/SSR_BeautifulBody.git
[submodule "SSR_SolarSystemRepublicFurniture"]
	path = SSR_SolarSystemRepublicFurniture
	url = https://github.com/Celestial-Pole/SSR_SolarSystemRepublicFurniture.git
