[submodule "SSR_SolarSystemRepublicCore"]
	path = SSR_SolarSystemRepublicCore
	url = https://github.com/FelixTaXk/SSR_SolarSystemRepublicCore.git
[submodule "SSR_SolarSystemRepublicDLC"]
	path = SSR_SolarSystemRepublicDLC
	url = https://github.com/FelixTaXk/SSR_SolarSystemRepublicDLC.git
